$app-credit-color: #02732f;
$app-credit-type-color: darken($app-credit-color, 10%);
$app-credit-type-border-color: darken($app-credit-type-color, 50%);

$app-debt-color: #dd0000;
$app-debt-type-color: darken($app-debt-color, 25%);
$app-debt-type-border-color: darken($app-debt-type-color, 50%);