
$card-credit-color: #02732f;
$card-credit-type-color: darken($card-credit-color, 10%);
$card-credit-type-border-color: darken($card-credit-type-color, 50%);

$card-debt-color: #dd0000;
$card-debt-type-color: darken($card-debt-color, 25%);
$card-debt-type-border-color: darken($card-debt-type-color, 50%);